@page
@model LadyDriver_web.Pages.Apply1Model
@{
    Layout = null;
}


<style>
    .elementor-486 .elementor-element.elementor-element-30965a0f > .elementor-container {
    max-width: 800px;
    min-height: 359px;
}

.elementor-486 .elementor-element.elementor-element-30965a0f:not(.elementor-motion-effects-element-type-background), .elementor-486 .elementor-element.elementor-element-30965a0f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-486 .elementor-element.elementor-element-30965a0f > .elementor-background-overlay {
    background-color: #FFFFFF;
    background-image: url("https://ladyd.doccere.com/wp-content/uploads/2020/08/back5.png");
    opacity: 0.05;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-486 .elementor-element.elementor-element-30965a0f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 100px 0px 100px 0px;
}

.elementor-486 .elementor-element.elementor-element-386e4a3f:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-486 .elementor-element.elementor-element-386e4a3f > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-486 .elementor-element.elementor-element-386e4a3f > .elementor-element-populated, .elementor-486 .elementor-element.elementor-element-386e4a3f > .elementor-element-populated > .elementor-background-overlay, .elementor-486 .elementor-element.elementor-element-386e4a3f > .elementor-background-slideshow {
    border-radius: 0px 0px 0px 0px;
}

.elementor-486 .elementor-element.elementor-element-386e4a3f > .elementor-element-populated {
    box-shadow: 0px 0px 19px -8px rgba(0,0,0,0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 30px 30px 30px;
}

    .elementor-486 .elementor-element.elementor-element-386e4a3f > .elementor-element-populated > .elementor-background-overlay {
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }

.elementor-486 .elementor-element.elementor-element-cc2e664 {
    text-align: center;
}

    .elementor-486 .elementor-element.elementor-element-cc2e664 .elementor-heading-title {
        color: #8A16B7;
        font-family: "Nanum Gothic", Sans-serif;
        font-size: 53px;
        font-weight: 600;
    }

.elementor-486 .elementor-element.elementor-element-5e882f0 {
    --divider-border-style: solid;
    --divider-color: #EC0E87;
    --divider-border-width: 3px;
}

    .elementor-486 .elementor-element.elementor-element-5e882f0 .elementor-divider-separator {
        width: 15%;
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-486 .elementor-element.elementor-element-5e882f0 .elementor-divider {
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

.elementor-486 .elementor-element.elementor-element-3660250 .elementor-text-editor {
    text-align: center;
}

.elementor-486 .elementor-element.elementor-element-3660250 {
    color: #000000;
    font-family: "Nanum Gothic", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

    .elementor-486 .elementor-element.elementor-element-3660250 > .elementor-widget-container {
        padding: 0px 50px 0px 50px;
    }

.elementor-486 .elementor-element.elementor-element-a5294d9:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-486 .elementor-element.elementor-element-a5294d9 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #F9F4F5;
}

.elementor-486 .elementor-element.elementor-element-a5294d9 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

    .elementor-486 .elementor-element.elementor-element-a5294d9 > .elementor-element-populated > .elementor-background-overlay {
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }

.elementor-486 .elementor-element.elementor-element-f43c419 .elementor-field-group {
    padding-right: calc( 10px/2 );
    padding-left: calc( 10px/2 );
    margin-bottom: 10px;
}

.elementor-486 .elementor-element.elementor-element-f43c419 .elementor-form-fields-wrapper {
    margin-left: calc( -10px/2 );
    margin-right: calc( -10px/2 );
    margin-bottom: -10px;
}

.elementor-486 .elementor-element.elementor-element-f43c419 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-486 .elementor-element.elementor-element-f43c419 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-486 .elementor-element.elementor-element-f43c419 .elementor-labels-inline .elementor-field-group > label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-486 .elementor-element.elementor-element-f43c419 .elementor-labels-inline .elementor-field-group > label {
    padding-right: 0px;
}

body .elementor-486 .elementor-element.elementor-element-f43c419 .elementor-labels-above .elementor-field-group > label {
    padding-bottom: 0px;
}

.elementor-486 .elementor-element.elementor-element-f43c419 .elementor-field-group > label, .elementor-486 .elementor-element.elementor-element-f43c419 .elementor-field-subgroup label {
    color: #272222;
}

.elementor-486 .elementor-element.elementor-element-f43c419 .elementor-field-group > label {
    font-family: "Helvetica", Sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.elementor-486 .elementor-element.elementor-element-f43c419 .elementor-field-type-html {
    padding-bottom: 0px;
    font-family: "Helvetica", Sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.elementor-486 .elementor-element.elementor-element-f43c419 .elementor-field-group .elementor-field, .elementor-486 .elementor-element.elementor-element-f43c419 .elementor-field-subgroup label {
    font-family: "Helvetica", Sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.elementor-486 .elementor-element.elementor-element-f43c419 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #EFE3E5;
    border-width: 0px 0px 0px 0px;
}

.elementor-486 .elementor-element.elementor-element-f43c419 .elementor-field-group .elementor-select-wrapper select {
    background-color: #EFE3E5;
    border-width: 0px 0px 0px 0px;
}

.elementor-486 .elementor-element.elementor-element-f43c419 .elementor-button {
    font-family: "Helvetica", Sans-serif;
    font-weight: 300;
    border-radius: 25px 25px 25px 25px;
}

.elementor-486 .elementor-element.elementor-element-f43c419 .e-form__buttons__wrapper__button-next {
    background-color: #A21AD7;
    color: #ffffff;
}

.elementor-486 .elementor-element.elementor-element-f43c419 .elementor-button[type="submit"] {
    background-color: #A21AD7;
    color: #ffffff;
}

    .elementor-486 .elementor-element.elementor-element-f43c419 .elementor-button[type="submit"] svg * {
        fill: #ffffff;
    }

.elementor-486 .elementor-element.elementor-element-f43c419 .e-form__buttons__wrapper__button-previous {
    background-color: #A21AD7;
    color: #ffffff;
}

.elementor-486 .elementor-element.elementor-element-f43c419 .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-486 .elementor-element.elementor-element-f43c419 .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

    .elementor-486 .elementor-element.elementor-element-f43c419 .elementor-button[type="submit"]:hover svg * {
        fill: #ffffff;
    }

.elementor-486 .elementor-element.elementor-element-f43c419 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-486 .elementor-element.elementor-element-f43c419 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

    .elementor-486 .elementor-element.elementor-element-f43c419 > .elementor-widget-container {
        padding: 0px 050px 0px 50px;
    }

.elementor-486 .elementor-element.elementor-element-2eb1010e .elementor-text-editor {
    text-align: center;
}

.elementor-486 .elementor-element.elementor-element-2eb1010e {
    color: #969198;
    font-family: "Helvetica", Sans-serif;
    font-size: 13px;
    font-weight: 100;
}

@@media(min-width:768px) {
    .elementor-486 .elementor-element.elementor-element-386e4a3f {
        width: 100%;
    }
}

</style>

<section class="elementor-section elementor-top-section elementor-element elementor-element-30965a0f elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle"
         style="background-color: #FFFFFF !important;"
         data-id="30965a0f"
         data-element_type="section"
         data-settings='{"background_background":"classic"}'>
    <div class="elementor-background-overlay" style="        transition: background 0.3s, border-radius 0.3s, opacity 0.3s; opacity: 0.05; background-color: #FFFFFF !important; background-image: url(../img/back5.png)"></div>
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-386e4a3f"
                 data-id="386e4a3f"
                 data-element_type="column"
                 data-settings='{"background_background":"classic"}'>
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-cc2e664 elementor-widget elementor-widget-heading"
                             data-id="cc2e664"
                             data-element_type="widget"
                             data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">
                                    Sé parte de nuestro equipo
                                </h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-5e882f0 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                             data-id="5e882f0"
                             data-element_type="widget"
                             data-widget_type="divider.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-divider">
                                    <span class="elementor-divider-separator">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-3660250 elementor-widget elementor-widget-text-editor"
                             data-id="3660250"
                             data-element_type="widget"
                             data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                    <p>
                                        Forma parte de nuestro equipo, completa el
                                        siguiente formulario y uno de nuestros
                                        agentes, se pondrá en contácto contigo para
                                        brindarte más detalles.&nbsp;
                                    </p>
                                </div>
                            </div>
                        </div>
                        <section class="elementor-section elementor-inner-section elementor-element elementor-element-ee31375 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                 data-id="ee31375"
                                 data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-a5294d9"
                                         data-id="a5294d9"
                                         data-element_type="column"
                                         data-settings='{"background_background":"classic"}'>
                                        <div class="elementor-column-wrap elementor-element-populated" style="background-color: white;">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-f43c419 elementor-button-align-center elementor-widget elementor-widget-form"
                                                     data-id="f43c419"
                                                     data-element_type="widget"
                                                     data-settings='{"step_next_label":"Next","step_previous_label":"Previous","button_width":"100","step_type":"number_text","step_icon_shape":"circle"}'
                                                     data-widget_type="form.default">
                                                    <div class="elementor-widget-container">
                                                        <form class="elementor-form"
                                                              method="post"
                                                              name="New Form">
                                                            <input type="hidden"
                                                                   name="post_id"
                                                                   value="486" />
                                                            <input type="hidden"
                                                                   name="form_id"
                                                                   value="f43c419" />

                                                            <input type="hidden"
                                                                   name="queried_id"
                                                                   value="486" />

                                                            <div class="elementor-form-fields-wrapper elementor-labels-above">
                                                                <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100">
                                                                    <label for="form-field-name"
                                                                           class="elementor-field-label">Nombre Completo</label><input size="1"
                                                                                                                                       type="text"
                                                                                                                                       name="form_fields[name]"
                                                                                                                                       id="form-field-name"
                                                                                                                                       class="elementor-field elementor-size-sm elementor-field-textual"
                                                                                                                                       placeholder="Nombre" />
                                                                </div>
                                                                <div class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-100 elementor-field-required">
                                                                    <label for="form-field-email"
                                                                           class="elementor-field-label">Email</label><input size="1"
                                                                                                                             type="email"
                                                                                                                             name="form_fields[email]"
                                                                                                                             id="form-field-email"
                                                                                                                             class="elementor-field elementor-size-sm elementor-field-textual"
                                                                                                                             placeholder="Email"
                                                                                                                             required="required"
                                                                                                                             aria-required="true" />
                                                                </div>
                                                                <div class="elementor-field-type-tel elementor-field-group elementor-column elementor-field-group-field_a913261 elementor-col-100">
                                                                    <label for="form-field-field_a913261"
                                                                           class="elementor-field-label">Teléfono</label><input size="1"
                                                                                                                                type="tel"
                                                                                                                                name="form_fields[field_a913261]"
                                                                                                                                id="form-field-field_a913261"
                                                                                                                                class="elementor-field elementor-size-sm elementor-field-textual"
                                                                                                                                placeholder="Teléfono"
                                                                                                                                pattern="[0-9()#&amp;+*-=.]+"
                                                                                                                                title="Only numbers and phone characters (#, -, *, etc) are accepted." />
                                                                </div>
                                                                <div class="elementor-field-type-checkbox elementor-field-group elementor-column elementor-field-group-field_1b5ed6e elementor-col-100">
                                                                    <label for="form-field-field_1b5ed6e"
                                                                           class="elementor-field-label">
                                                                        ¿A que equipo quieres
                                                                        pertenecer?
                                                                    </label>
                                                                    <div class="elementor-field-subgroup">
                                                                        <span class="elementor-field-option">
                                                                            <input type="checkbox"
                                                                                   value="Lady D Beauty"
                                                                                   id="form-field-field_1b5ed6e-0"
                                                                                   name="form_fields[field_1b5ed6e][]" />
                                                                            <label for="form-field-field_1b5ed6e-0">Lady D Beauty</label>
                                                                        </span><span class="elementor-field-option">
                                                                            <input type="checkbox"
                                                                                   value="Lady D Driver"
                                                                                   id="form-field-field_1b5ed6e-1"
                                                                                   name="form_fields[field_1b5ed6e][]" />
                                                                            <label for="form-field-field_1b5ed6e-1">Lady D Driver</label>
                                                                        </span><span class="elementor-field-option">
                                                                            <input type="checkbox"
                                                                                   value="Ambos"
                                                                                   id="form-field-field_1b5ed6e-2"
                                                                                   name="form_fields[field_1b5ed6e][]" />
                                                                            <label for="form-field-field_1b5ed6e-2">Ambos</label>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
                                                                    <a asp-area="" asp-page="/Registro" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                                                        <span class="elementor-button-content-wrapper">
                                                                            <span class="elementor-button-text">Enviar Formulario</span>
                                                                        </span>
                                                                    </a>
                                                                    @*<button type="submit"
                                                                            class="elementor-button elementor-size-sm">
                                                                        <span>
                                                                            <span class="elementor-button-icon">
                                                                            </span>
                                                                            <span class="elementor-button-text">Enviar Formulario</span>
                                                                        </span>
                                                                    </button>*@
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-2eb1010e elementor-widget elementor-widget-text-editor"
                                                     data-id="2eb1010e"
                                                     data-element_type="widget"
                                                     data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            <p>
                                                                <strong>
                                                                    Lady D cuida de tu privacidad.
                                                                    Como empresa nos comprometemos a
                                                                    guardar estricta
                                                                    confidencialidad de tus
                                                                    datos.
                                                                </strong>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>